<link href="~/Content/fullcalendar.min.css" rel="stylesheet" />
<link href="~/Content/fullcalendar.print.css" rel="stylesheet" media="print" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
@model HRiVote.ViewModels.CalendarViewModel
    <h1 class="text-center"style="font-weight:500;">Calendar</h1>
<div id="calendar" class="col-sm-10 col-sm-offset-2 "style="border:solid 1px black;">
    <div id="modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="border:solid 1px black;">
                    <button type="button"class="close"data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><span id="eventTitle"></span></h4>
                </div>
                <div class="modal-body" style="font-size:15px !important;">
                    <p id="pDetails"></p>
                    <button id="btnDelete" class="btn btn-default btn-sm pull-right">
                        <span class="glyphicon glyphicon-remove"></span> Remove
                    </button>
                    <button id="btnEdit" class="btn btn-default btn-sm pull-right" style="margin-right:5px;">
                        <span class="glyphicon glyphicon-pencil"></span> Edit
                    </button>                                    
                </div>
                <div class="modal-footer" style="border:solid 1px black;">
                    
                    <button type="button"class="btn btn-default"data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{

<script src="~/Scripts/moment-with-locales.min.js"></script>
<script src="~/Scripts/fullcalendar.js"></script>
<script src="~/Scripts/lib/jquery-ui.min.js"></script>
<script src="~/Scripts/fullcalendar.min.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var events = [];
            var selected = null;
            var ID;
            FetchEventAndRenderCalendar();
            function FetchEventAndRenderCalendar() {
                $.ajax({
                    type: "GET",
                    url: "/Calendar/GetData",
                    success: function (data) {
                        $.each(data, function (i, v) {
                            ID = v.Id;
                            $id = v.Id;
                            events.push({
                                empid:v.EmployeeID,
                                eventId: v.Id,
                                title: v.Title,
                                start: moment(v.StartOfVacation),
                                description: v.Description,
                                color: v.Color
                            });
                        })
                        GenerateCalendar(events);
                    },
                    error: function (error) {
                        alert("Failed");
                    }

                })

            }
            function GenerateCalendar(events) {
                $('#calendar').fullCalendar('destroy');
                $('#calendar').fullCalendar({
                    contentHeight: 600,
                    default: "30%",
                    defaultDate: new Date(),
                    timeFormat: 'H(:mm)',
                    header: {
                        left: '',
                        center: 'prev , next today',
                        right:""
                    },
                    eventLimit: true,
                    events: events,
                    eventClick: function (calEvent, jsEvent, view) {
                        selected = calEvent;
                        $("#modal #eventTitle").text(calEvent.title)
                        var $description = $('<div/>');
                        $description.append($("<p/>").html('<b> Start :</b>' + calEvent.start.format(" DD-MMM-YYYY")));                       
                        $description.append($("<p/>").html('<b> Description : </b>' + calEvent.description));
                        $("#modal pDetails").empty().html($description);
                        $('#pDetails').html($description);
                        $("#btn").val($id);
                        $("#modal").modal();
                    },     
                })
            }
            $('#btnEdit').click(function get() {               
                location.href = '@Url.Action("Edit", "Calendar")?id='+ID
            });
            })
            $('#btnDelete').click(function () {
                if (selected != null && confirm('Are you sure?')) {
                    $.ajax({
                        type: "POST",
                        url: '/Calendar/DeleteEvent',
                        data: { 'eventID': selected.eventId },
                        success: function (data) {
                            $('#myModal').modal('hide');
                            FetchEventAndRenderCalendar();
                        },
                        error: function () {
                        alert('Failed');
            }
       })
    }
})
    </script>

 }