body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
li {
    list-style-type:none;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.Back{
    /*background-color:rgba(17, 17, 17, 0.3) !important;*/
    border-radius:0%!important;
     
}



.btn-sm, .btn-group-sm > .btn {
    padding: 4px 10px;
    font-size: 13px;
    line-height: 1.5;
    border-radius: 12px;
}
.btn-sm, .btn-group-sm > .btn {
    padding: 4px 10px 2px;
    
}


.btn {
    
    margin-bottom: 10px;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 2px 10px !important;
    font-size: 15px !important;
    line-height: 1.42857143;
    border-radius: 5px !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    min-width:100px;

}
.scheduler_container {
    width: 100%;
    height: 600px;
    border: 1px solid #aeaeae;
    margin-left: 120px;
    margin-top: 50px;
    padding-left: 30px;
    color:#4800ff
}
.fc-toolbar {
    padding: 3em;
    margin: -16px;
    background-color: #0788ca;
}
}
.fc table {
    width: 100%;
    box-sizing: border-box;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    background-color: #ffffff;
}
.fc-view, .fc-view>table {
    position: relative;
    z-index: 1;
    margin-left: -8px;
    margin-right: -25px;
    margin-top: -14px;
    
}
.fc td, .fc th {
    border-style: solid;
    border-width: 1px;
    padding: 0;
    vertical-align: top;
    font-size: 13px;
    background-color: #fff;
}
.panel {
    margin-bottom: 20px;
    /* background-color: #b7b7b7; */
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.marg{
        margin-left: 260px;
}

.navbar-inverse {
    /* background-image: -webkit-linear-gradient(#6d94bf, #446e9b 50%, #3e648d); */
    /*background-image: -o-linear-gradient(#6d94bf, #446e9b 50%, #3e648d);*/
    /* background-image: -webkit-gradient(linear, left top, left bottom, from(#6d94bf), color-stop(50%, #446e9b), to(#3e648d)); */
    /* background-image: linear-gradient(#6d94bf, #446e9b 50%, #3e648d); */
    /* background-repeat: no-repeat; */
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6d94bf', endColorstr='#ff3e648d', GradientType=0);*/
    /* -webkit-filter: none; */
    /* filter: none; */
    /* border: 1px solid #345578; */
    /* text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3); */
}

.navbar-inverse {
     background-color: #ffffff;
        border-color:#fff;
}
.panel-group{
    background:none;
    background-color:#fff;
}
.none{
    background:none;
}
.input-validation-error{
    border-color:red;
}
.btn:hover, .btn:focus, .btn.focus {
    color: #7d7d7d;
    text-decoration: none;
}
a {
    color: #474949;
    text-decoration: none;
}
.modal-footer .btn + .btn {
    margin-left: 5px;
    /* margin-bottom: 0; */
}
.modal-body {
    position: relative;
    padding: 20px;
   
    min-height: 135px;
}
.btn1 {
    margin-bottom: 0px;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 2px 10px !important;
    font-size: 15px !important;
    line-height: 1.42857143;
    border-radius: 5px !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    min-width: 104px;
}
.button-top{
    height:200px;
    min-width:250px;
    border-right:solid 1px;
    border-bottom:solid 1px;
   overflow:hidden;
}
.button-down{
    position:absolute;
    bottom:10px;
}