@model HRiVote.ViewModels.PossitionsViewModel

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                @Html.TextBox("m", "Posstions", new { @class = "btn btn-info" })
            </a>
        </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
        <div class="panel-body">
            @foreach(var item in Model.possitions)
            {
                @Html.ActionLink(item.Title,"Index","Employee",new { id = item.ID },new { @class = "fa fa-paper-plane" })
            }
        </div>
    </div>
  </div>