@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Error";
}

<h2>Error</h2>
<br /><br />
<h3>
    An Error occured while processing your request please try again if this Error persists contact the Administrator!!!
</h3>
<br /><br /><hr />
<h4>Error Details:</h4>
<p>Controller Name: @Model.ControllerName</p>
<p>Action Name: @Model.ActionName</p>
<p>Exception: @Model.Exception</p>  