@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<div class="container">
    <div class="text-center">
        <h2>@ViewBag.Title.</h2>
        <h3>@ViewBag.Message</h3>
    </div>
</div>